<h1 style = "color:white">Indent</h1>
<i class="fas fa-landmark fa-3x"></i>
<h1> <%= @the_loan.lender_name %></h1>

<div class = "container">
  <div class = "row justify-content-around">
    <div class="card border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-header text-center">Total Loan Amount</div>
      <div class="card-body text-center">
          <a><%= number_to_currency(@the_loan.total_loan_amount.to_i) %></a>
      </div>
    </div>
    <div class="card border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-header text-center">Amount Borrowed</div>
      <div class="card-body text-center">
          <a><%= number_to_currency(@the_loan.amount_borrowed.to_i) %></a>
      </div>
    </div>
    <div class="card border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-header text-center">Amount Left to Borrow</div>
      <div class="card-body text-center">
          <a><%= number_to_currency(@the_loan.amount_remaining.to_i) %></a>
      </div>
    </div>
    <div class="card border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-header text-center">First Payment Date</div>
      <div class="card-body text-center">
          <a><%= @the_loan.first_payment_date %></a>
      </div>
    </div>
    <div class="card border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-header text-center">Repayment Period</div>
      <div class="card-body text-center">
          <a><%= @the_loan.repayment_period %></a>
      </div>
    </div>
    <div class="card border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-header text-center">APR</div>
      <div class="card-body text-center">
          <a><%= @the_loan.apr %>%</a>
      </div>
    </div>
  </div>
</div>


<div>
  <div class="row justify-content-around">
    <button type="button"  style = "max-width: 20rem" class="btn btn-primary" data-toggle="modal" data-target="#editLoanModel">Edit Loan</button>
    <a class="btn btn-primary" style = "max-width: 20rem" role="button" href="/delete_current_loan/<%= @the_loan.id %>">Delete Loan</a>
    <a class="btn btn-primary" style = "max-width: 20rem" role="button"  href="/loan_dashboard">Back to Loan Dashboard</a>
  </div>
</div>
<div class="modal fade" id="editLoanModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Loan</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/modify_current_loan/<%= @the_loan.id %>" method="post">
          <div>
            <label for="lender_name_box">Lender Name</label>
            <input type="text" id="lender_name_box" name="query_lender_name" value="<%= @the_loan.lender_name %>">
          </div>
          <div>
            <label for="total_loan_amount_box">Total Amount Borrowed</label>
            <input type="text" id="total_loan_amount_box" name="query_total_loan_amount"value="<%= @the_loan.total_loan_amount %>">
          </div>
          <div>
            <label for="first_payment_date_box">First Payment Date</label>
            <input type="date" id="first_payment_date_box" name="query_first_payment_date"value="<%= @the_loan.first_payment_date %>">
          </div>
          <div>
            <label for="repayment_period_box">Repayment Period</label>
            <input type="date" id="repayment_period_box" name="query_repayment_period"value="<%= @the_loan.repayment_period%>">
          </div>
          <div>
            <label for="apr_box">APR</label>
            <input type="text" id="apr_box" name="query_apr"value="<%= @the_loan.apr %>">
          </div>
          <div>
            <button type="button"  class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>






