<h1 style = "color:white">Indent</h1>
<i class="far fa-credit-card fa-3x"></i>
<h1> <%= @the_credit_card.card_name %></h1>

<div class = "container">
  <div class = "row justify-content-around">
    <div class="card border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-header text-center">Credit Line</div>
      <div class="card-body text-center">
          <a><%= number_to_currency(@the_credit_card.credit_line.to_i) %></a>
      </div>
    </div>
    <div class="card border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-header text-center">Current Balance</div>
      <div class="card-body text-center">
          <a><%= number_to_currency(@the_credit_card.current_balance.to_i) %></a>
      </div>
    </div>
    <div class="card border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-header text-center">Next Payment Date</div>
      <div class="card-body text-center">
          <a><%= @the_credit_card.payment_date %></a>
      </div>
    </div>
    <div class="card border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-header text-center">Minimum Payment Due</div>
      <div class="card-body text-center">
          <a><%= number_to_currency(@the_credit_card.minimum_payment.to_i) %></a>
      </div>
    </div>
    <div class="card border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-header text-center">APR</div>
      <div class="card-body text-center">
          <a><%= @the_credit_card.apr %>%</a>
      </div>
    </div>
  </div>
</div>


<div>
  <div class="row justify-content-around">
    <button type="button" style = "max-width: 20rem" class="btn btn-primary" data-toggle="modal" data-target="#editCardModel">Edit Card</button>
    <a class="btn btn-primary text-middle" style = "max-width: 20rem" role="button" href="/delete_credit_card/<%= @the_credit_card.id %>">Delete Card</a>
    <a class="btn btn-primary" style = "max-width: 20rem" role="button"  href="/credit_card_dashboard">Back to Credit Card Dashboard</a>
  </div>
</div>
<div class="modal fade" id="editCardModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Card</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/modify_credit_card/<%= @the_credit_card.id %>" method="post">
          <div>
            <label for="card_name_box">Credit Card Name</label>
            <input type="text" id="card_name_box" name="query_card_name" value="<%= @the_credit_card.card_name %>">
          </div>
          <div>
            <label for="credit_line_box">Credit Line</label>
            <input type="text" id="credit_line_box" name="query_credit_line"value="<%= @the_credit_card.credit_line %>">
          </div>
          <div>
            <label for="current_balance_box">Current Balance</label>
            <input type="text" id="current_balance_box" name="query_current_balance"value="<%= @the_credit_card.current_balance %>">
          </div>
          <div>
            <label for="apr_box">APR</label>
            <input type="text" id="apr_box" name="query_apr"value="<%= @the_credit_card.apr %>">
          </div>
          <div>
            <label for="payment_date_box">Payment Date</label>
            <input type="date" id="payment_date_box" name="query_payment_date"value="<%= @the_credit_card.payment_date%>">
          </div>
          <div>
            <label for="minimum_payment_box">Minimum Payment</label>
            <input type="text" id="minimum_payment_box" name="query_minimum_payment"value="<%= @the_credit_card.minimum_payment%>">
          </div>
          <div>
            <button type="button"  class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

